<h1>投稿詳細</h1>
<p>【メールアドレス】 <%= @post.user.email %></p>
<p>【内容】 <%= @post.content %></p>
<p>【作成日時】 <%= l @post.created_at %></p>
<% if current_user.id == @post.user_id %>
  <p>
    <%= link_to "編集", edit_post_path(@post) %>
    <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" } %>
  </p>
<% end %>
<p><%= link_to "投稿一覧へ", posts_path %></p>
